.vscode/*
build/*
bk/
install.log
picarx/__pycache__/__init__.cpython-311.pyc
picarx/__pycache__/__init__.cpython-313.pyc
picarx/__pycache__/motors.cpython-311.pyc
picarx/__pycache__/music.cpython-311.pyc
picarx/__pycache__/picarx.cpython-311.pyc
picarx/__pycache__/picarx.cpython-313.pyc
picarx/__pycache__/version.cpython-311.pyc
picarx/__pycache__/version.cpython-313.pyc
picarx.egg-info/dependency_links.txt
picarx.egg-info/not-zip-safe
picarx.egg-info/PKG-INFO
picarx.egg-info/requires.txt
picarx.egg-info/SOURCES.txt
picarx.egg-info/top_level.txt
.gitignore
